 * {
     box-sizing: border-box;
 }



 .mainHeader {
     color: #003952;
     font-size: 6vw;
     font-weight: bold;
 }

 span.numberOfQuestion {
     color: #003952;
     font-size: 6vw;
 }

 h1 {
     color: #00BFA5;
     font-size: 6vw;
 }

 .QuizApp {
     text-align: center;
     border: 2px solid blue;
 }

 .optionStyle {
     background-color: red;
     color: #C8C8C8;
 }

 .selected {
     background-color: chartreuse;
 }