 * {
     box-sizing: border-box;
 }

 /********************************************/

h2 {
    color: #003952;
    font-size: 6vw;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
    width: 80%;
}

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     h2 {
         font-size: 6vw;
         width: 70%;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     h2 {
         font-size: 4vw;
         width: 60%;
     }
 }

 @media screen and (min-width: 1281px) {
     h2 {
         font-size: 3vw;
         width: 50%;
         margin-top: 2vh;
         margin-bottom: 2vh;
     }
 }



 .titleCorrectAnswer {
    font-size: 6vw;
    text-align: center;
    color: #003952;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3vh;
}

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .titleCorrectAnswer {
         font-size: 5vw;
         width: 70%;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .titleCorrectAnswer {
         font-size: 3vw;
         width: 60%;
     }
 }

 @media screen and (min-width: 1281px) {
     .titleCorrectAnswer {
         font-size: 2vw;
         width: 50%;
     }
 }

li {
    font-size: 5vw;
    color: #00BFA5;
    padding: 3vw;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10vw;
}

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     li {
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     li {
         font-size: 2vw;
     }
 }

 @media screen and (min-width: 1281px) {
     li {
         font-size: 2vw;
         padding: 0.5vw;
         margin-left: 20vw;
     }
 }

li:last-child {
    margin-bottom: 6vh;
}

 /****************************************/

 .QuizApp {
     text-align: center;
     height: 100vh;
 }

 .mainHeader {
     color: #003952;
     font-size: 7vw;
     font-weight: bold;
     margin-top: 6vh;
     margin-bottom: 6vh;
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .mainHeader {
         font-size: 6vw;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .mainHeader {
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 1281px) {
     .mainHeader {
         font-size: 3vw;
     }
 }

 h1 {
     color: #00BFA5;
     font-size: 5vw;
     font-weight: bold;
     text-align: center;
     width: 80%;
     margin: 0 auto;
     margin-bottom: 3vh;
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     h1 {
         font-size: 4vw;
         width: 70%;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     h1 {
         font-size: 3vw;
         width: 60%;
     }
 }

 @media screen and (min-width: 1281px) {
     h1 {
         font-size: 2vw;
         width: 50%;
     }
 }

 span.numberOfQuestion {
     color: #003952;
     font-size: 5vw;
     font-weight: bold;
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     span.numberOfQuestion {
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     span.numberOfQuestion {
         font-size: 3vw;
     }
 }

 @media screen and (min-width: 1281px) {
     span.numberOfQuestion {
         font-size: 2vw;
     }
 }

 .groupQuestion {
     margin-top: 10vw;
     margin-bottom: 7vh;
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .groupQuestion {
         margin-top: 7vw;
         margin-bottom: 6vh;
     }

 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .groupQuestion {
         margin-top: 5vw;
         margin-bottom: 5vh;
     }
 }

 @media screen and (min-width: 1281px) {
     .groupQuestion {
         margin-top: 4vw;
         margin-bottom: 4vh;
     }
 }

 .optionStyle {
     color: #00BFA5;
     margin: 0 auto;
     margin-top: 5vw;
     margin-bottom: 5vw;
     padding: 3vw;
     font-size: 5vw;
     font-weight: bold;
     border-radius: 5px;
     border: 2px solid #00BFA5;
     width: 60%;
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .optionStyle {
         margin-top: 3vw;
         margin-bottom: 3vw;
         padding: 2vw;
         font-size: 4vw;
         width: 50%;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .optionStyle {
         font-size: 3vw;
         width: 40%;
     }
 }

 @media screen and (min-width: 1281px) {
     .optionStyle {
         font-size: 2vw;
         margin-top: 1vw;
         margin-bottom: 1vw;
         padding: 1vw;
         width: 30%;
     }
 }

 .selected {
     margin: 0 auto;
     margin-top: 5vw;
     margin-bottom: 5vw;
     color: white;
     padding-top: 3vw;
     padding-bottom: 3vw;
     background-color: #00BFA5;
     width: 60%;
     transition-duration: .3s;
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .selected {
         margin-top: 3vw;
         margin-bottom: 3vw;
         padding-top: 2vw;
         padding-bottom: 2vw;
         width: 50%;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .selected {
         width: 40%;
     }
 }

 @media screen and (min-width: 1281px) {
     .selected {
         margin-top: 1vw;
         margin-bottom: 1vw;
         padding-top: 1vw;
         padding-bottom: 1vw;
         width: 30%;
     }
 }


 .buttonNext {
     background-color: #003952;
     font-weight: bold;
     border-radius: 10px;
     width: 32vw;
     height: 14vw;
     font-size: 5vw;
     transition-duration: .3s;
     margin-bottom: 5vh;
 }

 @media screen and (min-width: 450px) and (max-width: 699px) {
     .buttonNext {
         width: 28vw;
         height: 11vw;
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .buttonNext {
         width: 24vw;
         height: 10vw;
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .buttonNext {
         width: 20vw;
         height: 8vw;
         font-size: 3vw;
     }
 }

 @media screen and (min-width: 1281px) {
     .buttonNext {
         width: 16vw;
         height: 5vw;
         font-size: 2vw;
     }
 }

 .buttonNext:enabled{
     color: white;
 }

 .finishButton {
     background-color: #003952;
     font-weight: bold;
     border-radius: 10px;
     width: 32vw;
     height: 14vw;
     font-size: 5vw;
     transition-duration: .3s;
     margin-bottom: 5vh;
 }

 @media screen and (min-width: 450px) and (max-width: 699px) {
     .finishButton {
         width: 28vw;
         height: 11vw;
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 700px) and (max-width: 1000px) {
     .finishButton {
         width: 24vw;
         height: 10vw;
         font-size: 4vw;
     }
 }

 @media screen and (min-width: 1001px) and (max-width: 1280px) {
     .finishButton {
         width: 20vw;
         height: 8vw;
         font-size: 3vw;
     }
 }

 @media screen and (min-width: 1281px) {
     .finishButton {
         width: 16vw;
         height: 5vw;
         font-size: 2vw;
     }
 }

 .finishButton:enabled{
     color: white;
 }